<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/bootstrap-5.3.3/css/bootstrap.css">
        <script src="/bootstrap-5.3.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <body class="container">
        <h1>Product Management</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">name</th>
                    <th scope="col">Description</th>
                    <th scope="col">price</th>
                    <th scope="col">stock</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(function(item){ %>
                <tr>
                    <th scope="row"><%= item.id %></th>
                    <td><%= item.name %></td>
                    <td><%= item.description %></td>
                    <td><%= item.price %></td>
                    <td><%= item.stock %></td>
                </tr>
                <% }); %>

            </tbody>
        </table>
    </body>
</html>